@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr/>
    <p>Member Id: @Model.BttMemberId</p>
    <p>Member UserName: @Model.BttUserName</p>
    <p>Member Password: @Model.BttPassword</p>
    <p>Member FullName: @Model.BttFullName</p>
    <p>Member Email: @Model.BttEmail</p>
</div>
