@model BttLesson07.Models.BttEmployee

@{
    ViewData["Title"] = "XÓA THÔNG TIN NHÂN VIÊN";
}

<h1>XÓA THÔNG TIN NHÂN VIÊN</h1>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BttId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BttId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BttName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BttName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BttBirthDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BttBirthDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BttEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BttEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BttPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BttPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BttSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BttSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BttStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BttStatus)
        </dd>
    </dl>
    
    <form asp-action="BttDelete">
        <input type="submit" value="BttDelete" class="btn btn-danger" /> |
        <a asp-action="BttIndex">Back to List</a>
    </form>
</div>
